:root{
    --color1: #003b49;
    --color2: #d0d3d4;
}

hr{
    border: 1px solid;
    
}

h2{
    font-size: 3rem;
    margin-left: 20px;
}
body{
    box-sizing: border-box;
    font-family: Lato, Oswald, sans-serif, arial;
    height: 100%;
    background-color: var(--color1);
    color: var(--color2);
    margin: 0;
    padding: 0;
}

/* nav */
nav{
    position: absolute;
    height: 50px;
    margin-right: 20px;
}
nav a{
    font-weight: bold;
    text-decoration: none;
    color:var(--color2);
}
nav ul{
    display: flex;
    list-style-type: none; 
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    margin: 5px;
    text-decoration: none;
}

/* aboutme section */
#aboutme{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aboutme h3{
    font-weight: 200;

}
#aboutme #hello{
    text-align: center;
    font-size: 21px;
}

#aboutme img{
    height: 20rem;
    border-radius: 10px;
    box-shadow: 8px 8px var(--color2);
    margin-left: 5rem;
}

#aboutme #hidden{
    width: 500px;
    text-wrap: wrap;
}

/*projects section*/
#projects{
    height: 100vh;
    background-color: var(--color2);
    color: var(--color1);
}

#stats{
    text-align: center;
    width: 300px;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
}
#stats h2{
    color: var(--color1);
    font-size: 40px;
}
#info{
    text-align: center;
    background-color: var(--color1);
    height: 50px;
    width: 50px;
    border-radius: 0 8px 8px 0;
    font-size: 30px;
    color: var(--color2);
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    display: flex;
    height: 400px;
    width: 400px;
    background-color: var(--color1);
    border-radius: 8px;
    justify-content: center;
    margin: 10px;
    transition: all .3s ease-in-out;
}
.project h4{
    color: var(--color2);
    align-self: flex-end;
}

.project:hover {
    transform: scale(1.1);
  }

/* skills section*/

.skill img{
    height: 100px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%); 
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%); 
    -o-transition: .5s ease-in-out;
    transition: all .3s ease-in-out;
}
.skill img:hover{
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    transform: scale(1.1);
}
.skill{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
